<main class="main-content">
  <div class="flex flex-col flex-1 w-full h-full">
    <div
      class="flex flex-row flex-1 justify-center items-center content-center mt-2"
    >
      <div
        class="flex flex-col justify-start items-start content-start w-1/2 lt-lg:w-11/12"
      >
        <div class="flex flex-row flex-1 justify-start w-full">
          <mat-card class="flex flex-1 mt-8">
            <mat-card-content>
              <div class="flex flex-1 flex-col w-full p-4">
                <h2>Flight briefing criteria</h2>
                <form
                  [formGroup]="flightBriefingForm"
                  (ngSubmit)="onSubmit()"
                  class="flex flex-col gap-4"
                >
                  <div>
                    <div
                      formGroupName="messageType"
                      class="flex flex-row gap-4"
                    >
                      <mat-checkbox color="primary" formControlName="metar">
                        METAR
                      </mat-checkbox>
                      <mat-checkbox color="primary" formControlName="sigmet">
                        SIGMET
                      </mat-checkbox>
                      <mat-checkbox color="primary" formControlName="taf"
                        >TAF</mat-checkbox
                      >
                    </div>
                    <mat-error
                      *ngIf="
                        flightBriefingForm
                          .get('messageType')
                          ?.hasError('atLeastOneRequired') &&
                        (flightBriefingForm.get('messageType')?.touched ||
                          flightBriefingForm.get('messageType')?.dirty)
                      "
                      >At least one message type must be selected</mat-error
                    >
                  </div>
                  <mat-form-field>
                    <mat-label>Airports</mat-label>
                    <input formControlName="airports" matInput />
                    <mat-icon matSuffix>flightsmode</mat-icon>
                    <mat-error
                      *ngIf="
                        flightBriefingForm
                          .get('airports')
                          ?.hasError('invalidICAOCode')
                      "
                    >
                      One or more ICAO codes are invalid.
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>Countries</mat-label>
                    <input formControlName="countries" matInput />
                    <mat-icon matSuffix>public</mat-icon>
                    <mat-error
                      *ngIf="
                        flightBriefingForm
                          .get('countries')
                          ?.hasError('invalidWMOCode')
                      "
                    >
                      One or more WMO codes are invalid.
                    </mat-error>
                  </mat-form-field>
                  <mat-error
                    *ngIf="
                      flightBriefingForm?.hasError('atLeastOneRequired') &&
                      (flightBriefingForm.get('airports')?.touched ||
                        flightBriefingForm.get('airports')?.dirty ||
                        flightBriefingForm.get('countries')?.touched ||
                        flightBriefingForm.get('countries')?.dirty)
                    "
                    >At least one airport (ICAO code) or one country (WMO code)
                    is required</mat-error
                  >
                  <div class="flex flex-row">
                    <div
                      matTooltip="Form is not valid"
                      matTooltipPosition="right"
                      [matTooltipDisabled]="flightBriefingForm.valid"
                      class="flex flex-1 w-full"
                    >
                      <button
                        mat-raised-button
                        [disabled]="flightBriefingForm.invalid"
                        type="submit"
                        color="primary"
                        class="w-full"
                      >
                        Create Briefing
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
    <div *ngIf="briefingResponse">
      <app-report-table [data]="briefingResponse.result"></app-report-table>
    </div>
  </div>
</main>
