@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100vh;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  height: 100%;
  width: 100%;
  overflow: auto;
}

.mat-form-field {
  width: 100%;
}

mat-icon {
  cursor: pointer;
}

.mat-checkbox-layout {
  white-space: normal !important;
}

.main-content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
